.title{
    color:rgb(9, 86, 55);
    font-size: 5vh;
}

.title, .author, .description{
    margin: 15px;
}

.description{
    font-size: 90%;
}

.parent{
    margin: 20px;
    /* border: 2px solid black; */
    overflow:hidden;
    color:rgb(52, 52, 52);
}
.left{
    /* border: 2px solid red; */
    width: 30%;
    float: left; 
    text-align: center;
}
.right{
    /* border: 2px solid red; */
    width: 65%;
    float: right; 
}

.left img{
    height: 55vh;
}

.left button{
    background-color: #e5e6cc;
    border: none;
    margin-top: 20px;
    height: 25px;
    color:rgb(207, 57, 57);
    cursor: pointer;
}