.search-Search{
    text-align: left;
    padding: 50px;
    /*margin-top: 50px;
    margin-left: 10px;*/
}

.loading{
    text-align: center;
    color: black;
    font-size: 75px;
}

.search-imgDescription{
    /* border: 2px solid red; */
    display: flex;
}

.search-imgDescription img{
    margin-right: 10px;
    display: block;
}

.search-imgDescription p{
    margin: 0;
}

.search-price{
    /* border: 2px solid orange; */
    text-align: center;
    padding-top: 75px;
    padding-right: 10px;
}

.search-imgDescription button{
    background-color: #e5e6cc;
    border: none;
    margin-top: 75px;
    padding-right: 10px;
    color:rgb(207, 57, 57);
    cursor: pointer;
    height: 25px;
}

.search-title{
    /*background-color:white;*/
    color:rgb(9, 86, 55);
    
}
.search-description, .search-author, .search-price{
    color:rgb(52, 52, 52);
}
.search-author{
    /*background-color:white;*/
    padding-bottom: 10px;
    font-weight: 1000;
}

.search-words{
    /* border: 2px solid blue; */
    /*background-color: pink;*/
    margin:0px;
    line-height: 1;
}
.load-more{
    text-align: center;
}

#root > div > span > div > div.load-more > button{
    border-radius: 20px;
    background-color: rgb(55, 167, 142);
    color: white;
    border: none;
    cursor: pointer;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 3vh;
}

#root > div > span > div > div.load-more > button:hover{
    background-color: rgb(42, 125, 107);
}

@media (max-width: 768px){
    .search-imgDescription img{
        height: 50vh;
        width: 35vh;
    }

    .search-description{
        font-size: 3vh;
    }

    .search-words{
        font-size: 3vh;
    }

    .search-price{
        padding-top: 150px;
    }

    .search-imgDescription button{
        margin-top: 150px;
    }
}

@media (max-width: 480px){
    .search-imgDescription{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .search-imgDescription button{
        /* border:2px solid black; */
        /* background-color: #e5e6cc;
        color:rgb(207, 57, 57);
        cursor: pointer;
        height: 25px; */
        width: 40px;
        padding:0;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .search-imgDescription img{
        /* border:2px solid black;
        margin-left: 75px; */
        margin-bottom: 10px;
    }

    .search-result{
        display: flex;
        flex-direction: column-reverse;
    }

    .search-words{
        text-align: center;
        padding-bottom: 0;
    }

    .search-author{
        margin-bottom:2px;
    }

    .search-price{
        padding: 5px;
    }
}