.dropdown-button {
  box-sizing: border-box;
  height: 60px;
  width: 150px;
  background-color: rgb(49, 94, 59);
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font: inherit;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.dropdown-text {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 0px 0;
  padding: 0;
  border: 1px solid grey;
  border-radius: 5px;
  border-top-right-radius: 0px;
  width: 148px;
  font-size: 18px;
}

.menu>li:hover {
  background-color: #719e7e;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 2.5px;
  font: inherit;
  cursor: pointer;
}

@media (max-width: 768px){
  .dropdown-button {
    width:100%;
  }
}

@media (max-width: 480px){
  .dropdown-button {
    width:75px;
  }
}