.navbar{
    /* border: 2px solid orange; */
    background-color: rgb(79, 87, 74);
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.navbar-container{
    /* display: flex;
    justify-content: space-between; */
    /* border: 2px solid white; */
    overflow: hidden;
    /* text-align: center; */
    
}

.navbar-left{
    /* border: 2px solid yellow; */
    width: 30%;
    float: left;
}

.navbar-right{
    /* border: 2px solid blue; */
    width: 30%;
    float: right;
    display: grid;
    gap: 0;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr; 
    text-align:center;
    
}

.navbar-logo{
    /* background-color: white; */
    color:rgb(55, 167, 142);
    /* height: 70px;
    width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-favorite{
    /* background-color:white; */
    color:rgb(207, 57, 57);
    /* height: 70px;
    width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-account-icon{
    cursor: pointer;
}

.navbar-account .menu{
    width: 10%;
    border-top-left-radius: 0px;
}

#root > div > nav > div > div.navbar-right > div > div.navbar-menu-container > ul{
    background-color: whitesmoke;
}

#root > div > nav > div > div.navbar-right > div > div.navbar-menu-container > ul > li{
    color: black;
    font-size: 15px;
}

#root > div > nav > div > div.navbar-right > div > div.navbar-menu-container > ul > li :visited{
    color:black;
}

@media (max-width: 768px){
    .nobles-barnes{
        font-size: 3vh;
    }

    .nobles-barnes svg{
        font-size: medium;
    }
    .navbar-right{
        width: 55%;
    }

    .navbar-right svg{
        font-size: medium;
    }
    
    #root > div > nav > div > div.navbar-right > div.navbar-fave-container > a > span{
        font-size: 3vh;
    }

    .navbar-account .menu{
        width: 20%;
    }

    #root > div > nav > div > div.navbar-right > div.navbar-account > div.navbar-menu-container > ul > li{
        font-size: 12px;
    }
}

@media (max-width: 522px){
    .navbar-left{
        width: 35%;
    }

    .nobles-barnes{
        font-size: 3vh;
    }

    .nobles-barnes svg{
        font-size: smaller;
    }

    #root > div > nav > div > div.navbar-right > div.navbar-account > div.navbar-menu-container > ul > li{
        font-size: 11px;
    }
}

@media (max-width: 480px){
    .navbar-left{
        width: 35%;
    }
    .nobles-barnes{
        font-size: 3vh;
    }

    #root > div > nav > div > div.navbar-left > a > svg{
        font-size: smaller;
    }
    .navbar-right{
        width: 55%;
    }

    .navbar-right svg{
        font-size: smaller;
    }
    
    #root > div > nav > div > div.navbar-right > div.navbar-fave-container > a > span{
        font-size: 3vh;
    }

    .navbar-account .menu{
        width: 20%;
    }

    #root > div > nav > div > div.navbar-right > div.navbar-account > div.navbar-menu-container > ul > li{
        font-size: 11px;
    }
}