.searchInputs{
    display: flex;
}

.searchInput{
    flex:1;
}

.search input{
    background-color: white;
    border: 0;
    border-radius: 0px;
    font-size: 18px;
    padding: 12px;
    height: 36px;
    width: 500px;
}

.searchIcon{
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
    color: rgb(18, 11, 46);
    cursor:pointer;
}

.searchIcon :visited{
    color: rgb(18, 11, 46);
    text-decoration: none;
}

input:focus{
    outline: none;
}

.searchIcon svg{
    font-size: 35px;
}
